Package: url-collector
Version: 1.6-1
Maintainer: technomag <technomag82@gmail.com>
Architecture: amd64
Installed-Size: 150
Download-Size: 50
Priority: optional
Section: web
Depends: libqt5core5a (>= 5.9.5), libqt5widgets5 (>= 5.9.5), libqt5gui5 (>= 5.9.5), libstdc++6 (>= 8.4.0), libgcc1 (>= 1:8.4.0), libc6 (>= 2.27)
Description: Simple desktop application for collect web-links
